@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #050B0D;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

/* --- Custom Animations --- */
@layer utilities {
  @keyframes float {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-20px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  @keyframes float-delayed {
    0% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(-15px);
    }

    100% {
      transform: translateY(0px);
    }
  }

  @keyframes marquee {
    0% {
      transform: translateX(0);
    }

    100% {
      transform: translateX(-50%);
    }
  }

  .animate-float {
    animation: float 6s ease-in-out infinite;
  }

  .animate-float-delayed {
    animation: float-delayed 8s ease-in-out infinite;
    animation-delay: 1s;
  }

  .animate-marquee {
    animation: marquee 30s linear infinite;
  }

  /* Utilities for the Globe loading state */
  .animate-spin-slow {
    animation: spin 3s linear infinite;
  }

  .animate-spin-reverse {
    animation: spin 4s linear infinite reverse;
  }
}